@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/fonts";

.Header {
  position: sticky;
  top: 0;
  z-index: 1;
  &_nav {
    @include flex-center;
    justify-content: space-between;
    height: 4rem;
    background-color: $main-color;
    ul {
      list-style: none;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: $secondary-color;
          font-family: $font-Lato;
          margin: 0 12px;
          font-size: 16px;
          .activeClass {
            background-color: red;
            color: red;
          }
        }
      }
    }
    &__logo {
      text-transform: uppercase;
      font-family: $font-robote;
      font-size: 23px;
      padding-right: 28px;
    }
    &__right {
      @include flex-center;
      &__Search {
        @include flex-center;
        margin-right: 2.5rem;
        &__input {
          border-radius: 8%;
          background: none;
          border: solid 2px $gray-color;
          padding: 6px 5px;
        }

        &__button {
          @include headerBtn;

          &__icon {
            width: 1.7rem !important;
            height: 1.7rem !important;
          }
        }
      }

      &__buttons {
        @include flex-center;
        margin-right: 1rem;
        &__login {
          &__btn {
            @include headerBtn;

            &__icon {
              @include headerIcon;
            }
          }
        }
        &__market {
          &__btn {
            @include headerBtn;

            &__icon {
              @include headerIcon;
            }
            &__icon:focus {
              color: red;
            }
          }
        }
      }
    }
  }
}
